.listRowParent {
  width: 400px;
  display: flex;
  gap: 20px;
  flex-direction: column;

  .listCategories {
    // margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .listRowParent {
    width: 350px;
  }
}
