@import '@/styles/_variables';

.field {
  position: relative;

  .icon {
    position: absolute;
    top: 15px;
    left: 12px;

    svg {
      height: 30px;
      width: 30px;
      color: $text-color;
    }
  }

  input {
    width: 100%;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
    outline: none;
    border: 3px solid $text-color;
    border-radius: 10px;
    transition: border-color 0.4s;
    font-size: 20px;
    color: $text-color;
    background-color: $secondary-color;

    &:hover {
      border-color: $primary-color;
    }

    &:focus {
      border-color: $primary-color;
      border-width: 4px;
    }
  }

  .eyeIcon {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    color: $text-color;

    svg {
      height: 30px;
      width: 30px;
    }
  }
}
