@import '@/styles/_variables';

.page {
  height: calc(100svh - 80px);
  padding: 40px 80px;
  background-color: rgb(var(--secondary-color));
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow-y: scroll;

  .content {
    max-width: 100%;
    background-color: rgb(var(--secondary-color));
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(var(--text-color), 0.4);
    position: relative;

    .info_block {
      width: 1000px;
      padding: 40px 40px;
      display: flex;
      flex-direction: column;
      color: rgb(var(--text-color));
      font-weight: 600;
      gap: 20px;
      white-space: normal;

      .categories {
        display: flex;
        gap: 10px;
        width: 1000px;
        flex-wrap: wrap;

        .category {
          color: #fff;
          padding: 5px 10px;
          background-color: #a9a9a9;
          border-radius: 5px;
          font-size: 20px;
        }
      }

      .description {
        word-wrap: break-word;
        text-indent: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
