{
  "trailingComma": "none",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@ui/(.*)$",
    "^@shared/constants/(.*)$",
    "^@shared/types/(.*)$",
    "^@shared/config/(.*)$",
    "^@shared/hooks/(.*)$",
    "^@main/services/(.*)$",
    "^@main/api/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
