@use '@/styles/_variables';

.page {
  height: calc(100svh - 80px);
  padding: 40px 80px;
  background-color: rgb(var(--secondary-color));
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;

  .content {
    width: 1200px;
    background-color: rgb(var(--secondary-color));
    position: relative;

    .wrap {
      display: flex;
      gap: 20px;

      .info_block {
        width: 100%;
        padding: 10px 40px;
        display: flex;
        flex-direction: column;
        color: rgb(var(--text-color));
        font-weight: 600;
        gap: 20px;
        white-space: normal;

        .views {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .row {
          color: rgba(var(--text-color), 0.6);
          line-height: 40px;

          span {
            color: rgb(var(--text-color));
          }
        }

        .description {
          word-wrap: break-word;
          line-height: 36px;
          word-spacing: 5px;
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-weight: 500;
          color: rgb(var(--text-color));
        }
      }
    }
  }
}
