.change_password_block {
  width: 420px;
  background-color: rgb(var(--secondary-color-hover));
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;

  p {
    font-size: 32px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
