@use '@/styles/_variables';

.page {
  height: calc(100svh - 80px);
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 15px;
  gap: 10px;

  .wrap {
    min-height: 700px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 40px;

    .top {
      display: flex;
      align-items: center;
      gap: 40px;

      .getReport {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        border: none;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(var(--secondary-color));
        color: rgb(var(--text-color));
        cursor: pointer;
        transition: all linear 0.2s;

        &:hover {
          background-color: rgb(var(--secondary-color-hover));
        }
      }

      .filter {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        border: none;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(var(--secondary-color));
        color: rgb(var(--text-color));
        cursor: pointer;
        transition: all linear 0.2s;
      }

      .active {
        background-color: rgb(var(--secondary-color-hover));
      }
    }

    .not_found {
      width: 400px;
      min-height: 550px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
  }
}
