@use '@/styles/_variables';

.page {
  height: calc(100svh - 80px);
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 15px;
  gap: 10px;

  .wrap {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 18px;

    .top {
      display: flex;
      align-items: center;
      gap: 40px;

      .getReport {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        border: none;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(var(--secondary-color));
        color: rgb(var(--text-color));
        cursor: pointer;
        transition: all linear 0.2s;

        &:hover {
          background-color: rgb(var(--secondary-color-hover));
        }
      }

      .filter {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        border: none;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(var(--secondary-color));
        color: rgb(var(--text-color));
        cursor: pointer;
        transition: all linear 0.2s;
      }

      .active {
        background-color: rgb(var(--secondary-color-hover));
      }
    }
  }
}
