@use '@/styles/_variables';

.pagination {
  display: flex;
  gap: 5px;
  user-select: none;

  .item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }

  .space {
    width: 20px;
    height: 20px;
  }

  .btn {
    cursor: pointer;

    &:hover {
      background-color: rgb(var(--secondary-color-hover));
    }
  }

  .disabled {
    svg {
      color: rgb(var(--secondary-color-active));
    }

    &:hover {
      background-color: rgb(var(--secondary-color));
    }
  }

  .pages {
    list-style-type: none;
    display: flex;
    gap: 5px;

    .active {
      background-color: rgb(var(--primary-color));
      color: #fff;
    }
  }
}
