$primary-color: #005ab8;
$primary-color-hover: #004997;
$secondary-color: #1c1c1c;
$secondary-color-hover: #303030;
$secondary-color-active: #676767;
$text-color: #d7d7d7;
$font-stack:
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
